.btn {
  cursor: pointer;
}

body {
  color: #2c3e50;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  top: 0;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 100%;
  animation: fadeIn 0.5s linear;
}

.container {
  display: flex;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.item {
  flex: 1;
}

a {
  font-size: 20px;
}

button {
  background-color: white;
}
